@font-face {
    font-family: "aller";
    src:
      url(fonts/aller_rg-webfont.woff) format("woff"),
      url(fonts/aller_rg-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "exo";
    src: url(fonts/exo-regular-webfont.woff) format("woff"),
         url(fonts/exo-regular-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "exo", serif;
}

h1 {
    margin: 10px;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

#gameboard > div {
    border: 2px solid black;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.reset {
    width: 150px;
    height: 50px; 
    align-self: center;
    border-radius: 10px;
    font-size: 30px;
    font-family: "exo", serif;
}

#namebox > label, #namebox > input {
    position: relative;
    width: 100px;
    height: 30px;
    font-size: 20px;
    bottom: 5px;
}

#namebox > button {
    position: relative;
    height: 36px;
    width: 75px;
    margin-left: 10px;
    padding: 0px;
    bottom: 7px;
}